<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="bookmark.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="url">Url</label>
        <input
          type="text"
          class="form-control"
          id="url"
          required
          [(ngModel)]="bookmark.url"
          name="url"
        />
      </div>

      <div class="form-group">
        <label for="url">Group</label>
        <input
          type="text"
          class="form-control"
          id="group"
          required
          [(ngModel)]="bookmark.group"
          name="group"
        />
      </div>

      <button (click)="saveBookmark()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="bookmark">
      <h4>Bookmark was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newBookmark()">Add</button>
    </div>
  </div>
</div>
