<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Bookmarks List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let bookmark of bookmarks; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveBookmark(bookmark, i)"
      >
        {{ bookmark.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBookmarks()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentBookmark">
      <h4>Bookmark</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentBookmark.name }}
      </div>
      <div>
        <label><strong>Url:</strong></label>
        {{ currentBookmark.url }}
      </div>
      <div>
        <label><strong>Group:</strong></label>
        {{ currentBookmark.group }}
      </div>

      <a class="badge badge-warning" routerLink="/bookmarks/{{ currentBookmark.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentBookmark">
      <br/>
      <p>Please click on a Bookmark...</p>
    </div>
  </div>
</div>
